body {
    /* background-color: aqua; */
    margin: 0;
background-image: url(../img/background.jpg);
font-family: -apple-system,"Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}
h1{
display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
color:white;
}
h2{
color: rgba(255,255,255,1);
}
p{
color:#bcc0cc;
}
div.inner {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

div#header {
    height: 96px;
    background-image: url(../img/head-bg.jpg);
}

div#nav {
    height: 41px;
    background-color: rgb(39,40,56);
text-align: center;
}
div#story{
width: 600px;
    height: 800px;
    background-color: rgb(39,40,56);
    float: left;
    border: solid;
margin-top:10px;
margin-left:150px;
}
div#details{
width: 400px;
    height: 800px;
    background-color: rgb(39,40,56);
    float: right;
    border: solid;
margin-top:10px;
margin-right:150px;
}
#nav ul {
	margin: 0px;
	list-style-type: none;
	padding: 5px 0px 5px 0px;
}
#nav ul li {
	display: inline;
	padding: 5px 10px 5px 10px;
                text-align:center;
                font-family:white;
}
#nav ul li a{
                text-decoration:none; 
                color:white;
}